export ROS_LOG_DIR=`pwd`/logs/
source .venv/bin/activate
source local_workspace/install/setup.bash || true
source local_workspace/install/local_setup.bash || true
source local_workspace/install/conanrosenv.sh || true

